body {
    background-color: #00d19a;
}

h2 {
    padding: 4% 4% 0% 4%;
}

.text {
    padding: 1% 4% 4% 4%;
}

.about-inner-column{
    display: block;
    padding-left: 30px;
}

.about-right img {
    width: 100%;
    border:
